<ion-view view-title="Conteúdos">
  <ion-content>
    <ion-list ng-repeat="conteudo in conteudos" >
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{conteudo.id}}*{{conteudo.strNome}}*{{conteudo.chamada}}*{{conteudo.pic}}*{{conteudo.texto}}">
        <img ng-src="img/notebook.png">
        <font size="1">{{conteudo.data}} / {{conteudo.id}}</font>
        <h2>{{conteudo.strNome}}</h2>

        <p>{{conteudo.chamada}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
